<%= content_for :welcome do %>

	<div id='header-inside'>
		
		<div class='content container_12'>
			
		</div>
		
		<div class='download'>
			
			<div class='container_12'>
				
				<div class='grid_6'>
					<%= link_to "Source Code #{Snorbyorg::Versions.snorby}", Snorbyorg::Versions.snorby_download, :class => 'download' %>
				</div>

				<div class='grid_6'>
					<%= link_to "Insta-Snorby #{Snorbyorg::Versions.insta_snorby}", Snorbyorg::Versions.insta_snorby_download, :class => 'download' %>
				</div>
				
			</div>
			
		</div>
		
	</div>

<% end %>

<div class='page container_12'>
	
	<h1>
		<span>Snorby</span> Features
		<div class='top'></div>
	</h1>
	
	<div id='box' class='grid_4 alpha'>
		<h2><%= image_tag('icons/metrics.png') %> Metrics & Reports</h2>
		
		<div class='content'>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>
		
	</div>
	
	<div id='box' class='grid_4 alpha'>
		<h2><%= image_tag('icons/classifications.png') %> Classifications</h2>
		
		<div class='content'>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>
		
	</div>
	
	<div id='box' class='grid_4 alpha last'>
		<h2><%= image_tag('icons/full-packet.png') %> Full Packet</h2>
		
		
		<div class='content'>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>
		
		
	</div>
	
	<div id='box' class='grid_4 alpha'>
		<h2><%= image_tag('icons/settings.png') %> Custom Settings</h2>
		
		<div class='content'>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>
		
	</div>
	
	<div id='box' class='grid_4 alpha'>
		<h2><%= image_tag('icons/hot-keys.png') %> Hotkeys</h2>
		
		<div class='content'>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>
		
	</div>
	
	<div id='box' class='grid_4 alpha last'>
		<h2><%= image_tag('icons/open-source.png') %> Open Source</h2>
		
		<div class='content'>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>
		
	</div>
	
	<h1>
		<span>Installing</span> Snorby
		<div class='top'></div>
	</h1>
	
</div>