<div id="info-box">
  <div class="inside">
    <div id="slides">
      <div class="iphone-slide"><%= render 'pages/slide_iphone' %></div>
      <div class="snorby-slide"><%= render 'pages/slide_snorby' %></div>
    </div>
  </div>
</div>
<div id="main">
  <div class="main-inside">
    <div class='page container_12'>

<a class="snorby-cloud" href='https://cloud.snorby.org' target="_BLANK">
<div class="snorby-cloud-holder">

<div class="information">
  <div class="title">Introducing <strong>Snorby Cloud.</strong></div>

  <div class="tag-line">Deploy your own Network Security Monitoring solution in 5 minutes. Pushing simplicity further.</div>
</div>
<div class="image"></div>

</div>


</a>



	<div class="block">

		<h1 id='features'>
			<span>Snorby</span> Features
			<div class='top'></div>
		</h1>

		<div id='hero-heading' class='container_12'>
			<h1>Ruby on Rails application for network security monitoring.</h1>
			<span>Integrates with intrusion detection systems like Snort, Suricata and Sagan</span>
		</div>


		<div id='box' class='grid_4 alpha'>

			<h2>
				<%= image_tag('icons/metrics.png') %> Metrics & Reports
			</h2>

			<div class='content lock'>
				Snorby brings your existing and new network security monitoring data to life with a suite of beautiful, relevant, and, most importantly, actionable metrics. Share data like sensor activity comparisons or your most active signatures directly with your constituents with daily, weekly, monthly, and ad-hoc PDF reports.
			</div>

		</div>

		<div id='box' class='grid_4 alpha'>

			<h2>
				<%= image_tag('icons/classifications.png') %> Classifications
			</h2>

			<div class='content lock'>
				With a simple keystroke or a mouse click, analysts can quickly classify an event into one of the many preconfigured classifications or into custom classifications relevant to a organization. Use classifications to organize events into helpful categories for follow-up investigations or for tuning your alert rulesets.
			</div>

		</div>

		<div id='box' class='grid_4 alpha last'>

			<h2>
				<%= image_tag('icons/full-packet.png') %> Full Packet
			</h2>


			<div class='content lock'>
				Unlike most network security monitoring applications, Snorby integrates with new and existing <%= link_to 'OpenFPC', 'http://www.openfpc.org', :target => '_blank' %>, <%= link_to "Solera DS Appliances", 'http://www.soleranetworks.com', :target => '_blank' %>, and <%= link_to "Solera's DeepSee", 'http://www.soleranetworks.com', :target => '_blank' %> installations to give analysts full packet and session data. Give yourself the critical context necessary to truly understand an alert and turn into an NSM hero!
			</div>


		</div>

		<div id='box' class='grid_4 alpha'>

			<h2>
				<%= image_tag('icons/settings.png') %> Custom Settings
			</h2>

			<div class='content lock'>
				While Snorby is designed to work out of the box, it is still our our most configurable release to date. Add custom severities or classifications, manage email notifications, and even extend functionality with third party products. Do it all from an intuitive administration menu, not with a text editor.
			</div>

		</div>

		<div id='box' class='grid_4 alpha'>

			<h2>
				<%= image_tag('icons/hot-keys.png') %> Hotkeys
			</h2>

			<div class='content lock'>
				Snorby features over 20 keyboard shortcuts allowing analysts to browse, view, and classify events without the use of a mouse (unprecedented for a web-based application). This gives analysts the responsiveness and efficiency of an installed client wrapped inside the simplicity and ease of a web browser.
			</div>

		</div>

		<div id='box' class='grid_4 alpha last'>

			<h2>
				<%= image_tag('icons/open-source.png') %> Open Source
			</h2>

			<div class='content lock'>
				Snorby is 100% open source! The snorby* source code is licensed under version 3 of the permissive GNU General Public License. Snorby uses <%= link_to "highcharts", 'http://www.highcharts.com' %> for metrics and reporting and has its own licensing which can be found <%= link_to "here", 'http://www.highcharts.com/license' %>.
				Snorby is actively and passionately developed and has ushered in a large and enthusiastic support community.
			</div>

		</div>
	</div>

	<div class="block">

		<h1 id='installation'>
			<span>Installing</span> Snorby
			<div class='top'></div>
		</h1>

		<div id='box' class='grid_12 alpha last'>

        Currently there are two ways to install/deploy the Snorby web application.

        The first option is to install and configure Snorby from source.

        Second is to use <%= link_to 'Security Onion', Snorbyorg::Versions.security_onion_download %>, a free instant NSM appliance
        featuring Snorby 2.5.1, Snort/Suricata, Barnyard, Daemonlogger, and Pulled Pork. Security Onion does not yet support the Snorby full packet capture api but is
        in the works. To have full packet capabilities with Snorby we suggest installing from source and using OpenFPC or StreamDB.

        Below is a quick and dirty step-by-step tutorial for deploying Snorby from source.
        Also, please remember to check the <%= link_to 'wiki', 'https://github.com/Snorby/snorby/wiki' %> for
        detailed information for your specific operating system<br />
				<br />

			<h2>Snorby Prerequisites</h2>

			<div class='content'>

				<ul class='grid_10'>
					<li>
						<strong>Snort</strong> (<%= link_to 'http://www.snort.org', 'http://www.snort.org', :target => '_blank' %>),
						<strong>Suricata</strong> (<%= link_to 'http://www.openinfosecfoundation.org', 'http://www.openinfosecfoundation.org', :target => '_blank' %>) or
						<strong>Sagan</strong> (<%= link_to 'http://sagan.softwink.com', 'http://sagan.softwink.com', :target => '_blank' %>)
					</li>
					<li><strong>GIT</strong> (<%= link_to 'http://git-scm.com', 'http://git-scm.com', :target => '_blank' %>)</li>
					<li><strong>Ruby</strong> ~> 1.9.2 (<%= link_to 'http://www.ruby-lang.org', 'http://www.ruby-lang.org', :target => '_blank' %>)</li>
					<li><strong>Rails</strong> ~> 3.0.0 (<%= link_to 'http://www.rubyonrails.com', 'http://www.rubyonrails.com', :target => '_blank' %>)</li>
					<li><strong>ImageMagick</strong> ~> 6.6.4 (<%= link_to 'http://www.imagemagick.org', 'http://www.imagemagick.org', :target => '_blank' %>)</li>
					<li><strong>Wkhtmltopdf</strong> (<%= link_to 'http://code.google.com/p/wkhtmltopdf', 'http://code.google.com/p/wkhtmltopdf', :target => '_blank' %>)</li>
				</ul>

				<div class='note grid_12'>
					Most of the above can be installed via your packaging manager of choice. (apt, yum, brew, ports etc.)
				</div>

			</div>

		</div>

		<div id='box' class='grid_12 alpha last'>

			<h2>Get The Code & Dependencies</h2>

			<div class='content'>

				You can download the current version of Snorby <%= link_to 'here', Snorbyorg::Versions.snorby_download %> in a `.zip` archive. Or you can pull the latest code from from the master branch on github.

				<pre class='code'>$ git clone http://github.com/Snorby/snorby.git</pre>

        Once Snorby has been downloaded successfully, you will need to install a few dependencies before you start to edit the configuration files.

        <pre class='code'>cd snorby && bundle install</pre>

        <div class='note grid_12'>This assumes ruby and ruby gems are installed. If bundler is not found `gem install bundler`</div>

			</div>

		</div>


		<div id='box' class='grid_12 alpha last'>

			<h2>Edit The Snorby Configurations</h2>

			<div class='content'>

				There are three configuration files that will need to be modified for everything to work correctly.<br />
				<br />

				<h3>Snorby Database Configurations - config/database.yml</h3>

<pre class='code'>
# Snorby Database Configuration
#
# Please set your database password/user below
#
snorby: &snorby
  adapter: mysql
  username: root
  password: MYSQLPASS
  host: localhost

development:
  database: snorby
  <<: *snorby

test:
  database: snorby
  <<: *snorby

production:
  database: snorby
  <<: *snorby</pre>

				<br />

				<h3>Snorby System Configurations - config/snorby_config.yml</h3>

<pre class='code'>
development:
  domain: localhost:3000
  wkhtmltopdf: /Users/mephux/.rvm/gems/ruby-1.9.2-p0/bin/wkhtmltopdf
  mailer_sender: 'snorby@snorby.org'
  rules:
    - "/Users/mephux/.snort/rules"
    - "/Users/mephux/.snort/so_rules"

test:
  domain: localhost:3000
  wkhtmltopdf: /usr/local/bin/wkhtmltopdf
  mailer_sender: 'snorby@snorby.org'

# Change the production configuration
# for your environment.
production:
  domain: 'demo.snorby.org'
  wkhtmltopdf: /path/to/wkhtmltopdf
  mailer_sender: 'snorby@snorby.org'
  rules:
    - "/path/to/rules/folder"
    - "/path/to/so_rules/folder"
</pre>

				<br />

				<h3>Snorby Mail Configurations - config/initializers/mail_config.rb</h3>

<pre class='code'>
# Snorby Mail Configuration

# # #
# Gmail Example:
#
# ActionMailer::Base.delivery_method = :smtp
# ActionMailer::Base.smtp_settings = {
#   :address              => "smtp.gmail.com",
#   :port                 => 587,
#   :domain               => "snorby.org",
#   :user_name            => "snorby",
#   :password             => "snorby",
#   :authentication       => "plain",
#   :enable_starttls_auto => true
# }

# # #
# Sendmail Example:
#
# ActionMailer::Base.delivery_method = :sendmail
# ActionMailer::Base.sendmail_settings = {
#   :location => '/usr/sbin/sendmail',
#   :arguments => '-i -t'
# }

ActionMailer::Base.perform_deliveries = true
ActionMailer::Base.raise_delivery_errors = true

# Mail.register_interceptor(DevelopmentMailInterceptor) if Rails.env.development?
</pre>

			<div class='note grid_12'>This is usually only relevant if you want to use an external smtp server to send Snorby Mail. .e.g. Gmail</div>

			</div>

		</div>

		<div id='box' class='grid_12 alpha last'>

			<h2>Start Snorby</h2>

			<div class='content'>

      First we need to setup the database and the snorby defaults.

      <pre class="code">bundle exec rake snorby:setup</pre>

      <br />
      Once this is completed you can start Snorby using the following commands.

      <pre class="code">bundle exec rails server -e production</pre>
      <pre class="code">ruby script/delayed_job start RAILS_ENV=production</pre>

      <div class='note grid_12'>It is very important that you always remember to start Snorby in production mode.</div><br />

      <br />
      <br />
      <p>
      Snorby ships with an administrator account preconfigured. The default credentials are listed below. Please remember you change the password/email address or remove this accout if it's not needed.
      </p>

      <br />

      <ul>
        <li>Username: <strong>snorby@snorby.org</strong></li>
        <li>Password: <strong>snorby</strong></li>
      </ul>

      <br />

			There are a few ways you can start/use snorby, but we highly recommend that you use <%= link_to 'Phusion Passenger', 'http://www.modrails.com' %> which supports both <%= link_to 'Apache', 'http://httpd.apache.org/' %> and <%= link_to 'Nginx', 'http://www.nginx.net/' %> web servers.<br />
			<br />


			</div>

		</div>

	</div>

	<div class='block'>

		<h1 id='demo'>
			<span>Try</span> The Demo
			<div class='top'></div>
		</h1>

		<div id='box' class='grid_12 alpha last'>

			<div class='content'>

				We have configured and deployed a fully functional Snorby installation for your evaluation. The demo account has full administrative privileges so that all available snorby features are visible; however, you will not be able to modify system settings.<br />

				<br />

				<ul>
					<li>URL: <strong><%= link_to 'http://demo.snorby.org', 'http://demo.snorby.org', :target => '_blank' %></strong></li>
					<li>Username: <strong>demo@snorby.org</strong></li>
					<li>Password: <strong>snorby</strong></li>
				</ul>

			</div>

		</div>

	</div>

	<div class='block'>

		<h1 id='support'>
			<span>Support</span> & Questions
			<div class='top'></div>
		</h1>

		<div id='box' class='grid_4 alpha'>

			<h2>
				Mailing List
			</h2>

			<div class='content'>
				<%= link_to 'http://groups.google.com/group/snorby', 'http://groups.google.com/group/snorby', :target => '_blank' %>
			</div>

		</div>

		<div id='box' class='grid_4 alpha'>

			<h2>
				Chatroom
			</h2>

			<div class='content'>
				<strong>#snorby</strong> on <strong>irc.freenode.net</strong>
			</div>

		</div>

		<div id='box' class='grid_4 alpha last'>

			<h2>
				Email Address
			</h2>

			<div class='content'>
				<%= mail_to 'support@snorby.org' %>
			</div>

		</div>

	</div>
   </div>
  </div>
</div>
