<%= content_for :welcome do %>

	<div id='header-inside'>
		
		<div class='content container_12'>
			
		</div>
		
		<div class='download'>
			
			<div class='container_12'>
				
				<div class='grid_6'>
					<%= link_to "Source Code #{Snorbyorg::Versions.snorby}", Snorbyorg::Versions.snorby_download, :class => 'download' %>
				</div>

				<div class='grid_6'>
					<%= link_to "Insta-Snorby #{Snorbyorg::Versions.insta_snorby}", Snorbyorg::Versions.insta_snorby_download, :class => 'download' %>
				</div>
				
			</div>
			
		</div>
		
	</div>

<% end %>

<div class='page container_12'>
	
	<div class="block">
		
		<h1 id='features'>
			<span>Snorby</span> Features
			<div class='top'></div>
		</h1>

		<div id='box' class='grid_4 alpha'>

			<h2>
				<%= image_tag('icons/metrics.png') %> Metrics & Reports
				<div class='look'></div>
			</h2>

			<div class='content'>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>

		</div>

		<div id='box' class='grid_4 alpha'>

			<h2>
				<%= image_tag('icons/classifications.png') %> Classifications
				<div class='look'></div>
			</h2>

			<div class='content'>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>

		</div>

		<div id='box' class='grid_4 alpha last'>

			<h2>
				<%= image_tag('icons/full-packet.png') %> Full Packet
				<div class='look'></div>
			</h2>


			<div class='content'>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>


		</div>

		<div id='box' class='grid_4 alpha'>

			<h2>
				<%= image_tag('icons/settings.png') %> Custom Settings
				<div class='look'></div>
			</h2>

			<div class='content'>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>

		</div>

		<div id='box' class='grid_4 alpha'>

			<h2>
				<%= image_tag('icons/hot-keys.png') %> Hotkeys
				<div class='look'></div>
			</h2>

			<div class='content'>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>

		</div>

		<div id='box' class='grid_4 alpha last'>

			<h2>
				<%= image_tag('icons/open-source.png') %> Open Source
				<div class='look'></div>
			</h2>

			<div class='content'>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>

		</div>
	</div>
	
	<div class="block">
		
		<h1 id='installation'>
			<span>Installing</span> Snorby
			<div class='top'></div>
		</h1>
		
		<div id='box' class='grid_12 alpha last'>
			
			<h2>Snorby Prerequisites</h2>
			
			<div class='content'>
			
				<ul class='grid_10'>
					<li>
						<strong>Snort</strong> (<%= link_to 'http://www.snort.org', 'http://www.snort.org', :target => '_blank' %>), 
						<strong>Suricata</strong> (<%= link_to 'http://www.openinfosecfoundation.org', 'http://www.openinfosecfoundation.org', :target => '_blank' %>) or 
						<strong>Sagan</strong> (<%= link_to 'http://sagan.softwink.com', 'http://sagan.softwink.com', :target => '_blank' %>)
					</li>
					<li><strong>GIT</strong> (<%= link_to 'http://git-scm.com', 'http://git-scm.com', :target => '_blank' %>)</li>
					<li><strong>Ruby</strong> ~> 1.9.2 (<%= link_to 'http://www.ruby-lang.org', 'http://www.ruby-lang.org', :target => '_blank' %>)</li>
					<li><strong>Rails</strong> ~> 3.0.0 (<%= link_to 'http://www.rubyonrails.com', 'http://www.rubyonrails.com', :target => '_blank' %>)</li>
					<li><strong>ImageMagick</strong> ~> 6.6.4 (<%= link_to 'http://www.imagemagick.org', 'http://www.imagemagick.org', :target => '_blank' %>)</li>
					<li><strong>Wkhtmltopdf</strong> (<%= link_to 'http://code.google.com/p/wkhtmltopdf', 'http://code.google.com/p/wkhtmltopdf', :target => '_blank' %>)</li>
				</ul>
				
				<div class='note grid_10'>
					Most of the above can be installed via your packaging manager of choice. (apt, yum, brew, ports etc.) We are currently working on a few.
				</div>
				
			</div>
			
		</div>
		
		<div id='box' class='grid_12 alpha last'>
			
			<h2>Get The Code</h2>
			
			<div class='content'>
				
				You can download the current version of Snorby from <%= link_to 'here', Snorbyorg::Versions.snorby_download %> in a `.zip` archive. Or you can pull the latest code from from the master branch on github.
				
				<pre class='code'>$ git clone http://github.com/Snorby/snorby.git</pre>
				
			</div>
			
		</div>
		
		
		<div id='box' class='grid_12 alpha last'>
			
			<h2>Edit The Snorby Configurations</h2>
			
			<div class='content'>
			
				There are three configuration files that will need to be modified for everything to work correctly.<br />
				<br />
				
				<strong>config/database.yml</strong><br />
				
<pre class='code'>
# Snorby Database Configuration
#
# Please set your database password/user below
#
snorby: &snorby
  adapter: mysql
  username: root
  password: MYSQLPASS
  host: localhost

development:
  database: snorby
  <<: *snorby

test:
  database: snorby
  <<: *snorby

production:
  database: snorby
  <<: *snorby</pre>
				
				<br />
				
				<strong>config/snorby_config.yml</strong><br />
				
<pre class='code'>
development:
  domain: localhost:3000
  wkhtmltopdf: /usr/local/bin/wkhtmltopdf

test:
  domain: localhost:3000
  wkhtmltopdf: /usr/local/bin/wkhtmltopdf

production:
  domain: localhost:3000
  wkhtmltopdf: /usr/local/bin/wkhtmltopdf
</pre>

				<br />

				<strong>config/initializers/mail_config.rb</strong>
				
<pre class='code'>
# Snorby Mail Configuration

# # #
# Gmail Example:
# 
# ActionMailer::Base.delivery_method = :smtp
# ActionMailer::Base.smtp_settings = {
#   :address              => "smtp.gmail.com",
#   :port                 => 587,
#   :domain               => "snorby.org",
#   :user_name            => "snorby",
#   :password             => "snorby",
#   :authentication       => "plain",
#   :enable_starttls_auto => true
# }

# # #
# Sendmail Example:
# 
# ActionMailer::Base.delivery_method = :sendmail
# ActionMailer::Base.sendmail_settings = {
#   :location => '/usr/sbin/sendmail',
#   :arguments => '-i -t'
# }

ActionMailer::Base.perform_deliveries = true
ActionMailer::Base.raise_delivery_errors = true

# Mail.register_interceptor(DevelopmentMailInterceptor) if Rails.env.development?
</pre>
				
			<div class='note grid_10'>This is usually only relevant if you want to use an external smtp server to send Snorby Mail. .e.g. Gmail</div>
				
			</div>
			
		</div>
		
		<div id='box' class='grid_12 alpha last'>
			
			<h2>Start Snorby</h2>
			
			<div class='content'>
			
			There are a few ways you can start/use snorby but we highly recommend that you use <%= link_to 'Phusion Passenger', 'http://www.modrails.com' %> which supports both <%= link_to 'Apache', 'http://httpd.apache.org/' %> and <%= link_to 'Nginx', 'http://www.nginx.net/' %> web servers.<br />
			<br />
			
			If you would like to just start Snorby to test or quickly play with use the following rails command in the Snorby root directory:<br />
			
			<pre class="code">$ rails server -e production</pre>
				
			<div class='note grid_10'>It is very important that you always remember to start Snorby in production mode.</div>
				
			</div>
			
		</div>
		
	</div>
	
	<div class='block'>
		
		<h1 id='demo'>
			<span>Try</span> The Demo
			<div class='top'></div>
		</h1>

		<div id='box' class='grid_12 alpha last'>

			<div class='content'>
				
				We have configured and deployed a full functional Snorby installation for your evaluation. The demo account has full administrative privileges so that all available snorby features are visible however, you will not be able to modify system settings.<br />
				
				<br />
				
				URL: <strong><%= link_to 'http://demo.snorby.org', 'http://demo.snorby.org', :target => '_blank' %></strong> <br /> 
				Username: <strong>demo@snorby.org</strong> <br />
				Password: <strong>snorby</strong>
			</div>

		</div>
		
	</div>
	
	<div class='block'>
		
		<h1 id='support'>
			<span>Support</span> & Questions
			<div class='top'></div>
		</h1>

		<div id='box' class='grid_4 alpha'>

			<h2>
				Snorby Mailing List
			</h2>

			<div class='content'>
				<%= link_to 'http://groups.google.com/group/snorby', 'http://groups.google.com/group/snorby', :target => '_blank' %>
			</div>

		</div>

		<div id='box' class='grid_4 alpha'>

			<h2>
				#Snorby IRC
			</h2>

			<div class='content'>
				<strong>#snorby</strong> on <strong>irc.freenode.net</strong>
			</div>

		</div>

		<div id='box' class='grid_4 alpha last'>

			<h2>
				Email
			</h2>

			<div class='content'>
				<%= mail_to 'support@snorby.org' %>
			</div>

		</div>
		
	</div>
	
</div>