<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title><%= content_for?(:title) ? yield(:title) : "Snorby.org" %></title>
		
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Snorby - All About Simplicity" />
    <link rel="icon" href="/favicon.png" type="image/png" />

    <%= stylesheet_link_merged :snorbyorg %>
		<%= javascript_include_merged :snorbyorg %>
    <%= csrf_meta_tag %>

		<%= yield(:header) %>
  </head>
  
	<body>
		
		<div id='header'>
			
			<div id='menu'>
				
				<div id='menu-inside' class='container_12'>
					
					<h1>Snorby</h1>
					
					<ul>
						
						<li class='first'><%= link_to "Submit Bugs", '#' %></li>
						<li class=''><%= link_to "Docs & Wiki", '#' %></li>
						<li class=''><%= link_to "Fork It", '#' %></li>
						<li class=''><%= link_to "Contribute", '#' %></li>
						
					</ul>
					
				</div>
				
			</div>
			
			<div id='header-inside' class='container_12'>
				
				
				
			</div>
			
		</div>
		
		<div id='wrapper'>
			
			<div id='content' class='container_6'>
				
				<%= yield %>
				
			</div>
			
		</div>
		
		<div id='footer'>
			
		</div>
		
		<%= yield(:footer) %>
		
  </body> 
</html>