<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title><%= content_for?(:title) ? yield(:title) : "Snorby.org" %></title>
		
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Snorby - All About Simplicity" />
    <link rel="icon" href="/favicon.png" type="image/png" />

    <%= stylesheet_link_merged :snorbyorg %>
		<%= javascript_include_merged :snorbyorg %>
    <%= csrf_meta_tag %>

		<%= yield(:header) %>
  </head>
  
	<body>
		
		<div id='header'>
			
			<div id='menu'>
				
				<div id='menu-inside' class='container_12'>
					
					<h1>Snorby</h1>
					
					<ul>
						
						<li class='first'><%= link_to "Submit Bugs", 'https://github.com/Snorby/snorby/issues' %></li>
						<li class=''><%= link_to "DEMO", 'http://demo.snorby.org' %></li>
						<li class=''><%= link_to "FAQ", 'https://github.com/Snorby/snorby/wiki/FAQ' %></li>
						<li class=''><%= link_to "Docs & Wiki", 'https://github.com/Snorby/snorby/wiki' %></li>
						<li class=''><%= link_to "Fork It", 'https://github.com/Snorby/snorby' %></li>
						<li class=''><%= link_to "Contribute", 'https://github.com/Snorby/snorby/wiki/_pages' %></li>
						
					</ul>
					
				</div>
				
			</div>
			
			<%= yield(:welcome) %>
			
		</div>
		
		<div id='wrapper'>
			
			<div id='content' class='container_6'>
				
				<%= yield %>
				
			</div>
			
		</div>
		
		<div id='footer'>
			
		</div>
		
		<%= yield(:footer) %>
		
  </body> 
</html>