<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title><%= content_for?(:title) ? yield(:title) : "Snorby - All About Simplicity" %></title>
		<meta name="google-site-verification" content="pDFv0MKvXPsJVr6goB_cEHWsbagPu2vv3gpdHdnaiCg" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Snorby - All About Simplicity" />
    <link rel="icon" href="/favicon.png" type="image/png" />

    <link href='https://fonts.googleapis.com/css?family=Reenie+Beanie|Muli' rel='stylesheet' type='text/css'>

		<%= include_stylesheets :snorby, :media => 'all' %>
		<%= include_javascripts :snorby %>
    <%= csrf_meta_tag %>

		<%= yield(:header) %>
  </head>
  
	<body>

    <div id='header'>

    <section id="top-bar">
      <div class="container_12">
        <div class="grid_11">
          <p>
            Are you using Snorby in production? We would love to hear from you! 
            Send us a message about your setup and feature requests.
            <strong><a href="mailto:support@snorby.org">support@snorby.org</a></strong>
          </p>
        </div>
        <div class="grid_1">
        <a href="#" class="close"></a>
        </div>
        <div class="clear"></div>
      </div>
    </section>

			
			<div id='menu'>
				
				<div id='menu-inside' class='container_12'>
				
          <div id="logo">
            <a href="/"></a>
          </div>
	
					<ul>
						<li class='first'><%= link_to "Other Projects", 'http://www.lookycode.com', :target => '_blank' %></li>						
						<li class=''><%= link_to "Support", '#support', :class => 'scroll' %></li>
            <li class=''><%= link_to "Source", '#source', :class => 'scroll' %></li>
						<li class=''><%= link_to "Wiki", 'https://github.com/Snorby/snorby/wiki', :target => '_blank' %></li>
            <li class=''><%= link_to "Blog", 'http://blog.snorby.org', :target => '_blank' %></li>
						<li class=''><%= link_to "DEMO", '#demo', :class => 'scroll' %></li>
						<li class=''><%= link_to "Install", '#installation', :class => 'scroll' %></li>
					</ul>
					
				</div>
				
			</div>
			
			<%= yield(:welcome) %>
			
		</div>
		
		<div id='wrapper'>
			
			<div id='content' class='container_6'>

				<%= yield %>
				
			</div>
			
		</div>
		
		<div id='footer'>
      <div class="inside">

        <ul class="column">
          <li class='title'>Get Setup</li>
          <li><%= link_to "Install", '#installation', :class => 'scroll' %></li>
          <li><%= link_to "DEMO", '#demo', :class => 'scroll' %></li>
          <li><%= link_to "Docs & Wiki", 'https://github.com/Snorby/snorby/wiki', :target => '_blank' %></li>
          <li><%= link_to "Support", '#support', :class => 'scroll' %></li>
          <li><%= link_to "Submit Bugs", 'https://github.com/Snorby/snorby/issues', :target => '_blank' %></li>
          <li><%= link_to "Other Projects", 'http://www.lookycode.com', :target => '_blank' %></li>						
        </ul>

        <ul class="column">
          <li class="title">Follow The Project</li>

          <li><%= link_to "@mephux on Twitter", 'https://www.twitter.com/mephux', :target => '_blank' %></li>
          <li><%= link_to "freenode.net #snorby", 'irc://freenode.net/snorby', :target => '_blank' %></li>
          <li><%= link_to "freenode.net #snorby", 'irc://freenode.net/snorby', :target => '_blank' %></li>
          <li><%= link_to "Mailing List", 'http://groups.google.com/group/snorby', :target => '_blank' %></li>

        </ul>

        <ul class="column">
          <li class="title">Support & Contribute</li>

          <li><%= link_to "Snorby e-book", 'https://github.com/Snorby/snorby/wiki/Snorby-E-Book', :target => '_blank' %></li>
          <li><%= link_to "Mailing List", 'http://groups.google.com/group/snorby', :target => '_blank' %></li>

          <li><%= link_to "Fork It", 'https://github.com/Snorby/snorby', :target => '_blank' %></li>
          <li><%= link_to "Submit Bugs", 'https://github.com/Snorby/snorby/issues', :target => '_blank' %></li>
          <li><%= link_to "Docs & Wiki", 'https://github.com/Snorby/snorby/wiki', :target => '_blank' %></li>

        </ul>

        <ul class="column">
          <li class="title">Props To The Following</li>

          <li><%= link_to "Snort", 'http://www.snort.org', :target => '_blank' %></li>
          <li><%= link_to "Sagan", 'http://sagan.softwink.com/', :target => '_blank' %></li>
          <li><%= link_to "Suricata", 'http://www.openinfosecfoundation.org/', :target => '_blank' %></li>
          <li><%= link_to "OpenFPC", 'http://www.openfpc.org/', :target => '_blank' %></li>
          <li><%= link_to "Barnyard2", 'https://github.com/firnsy/barnyard2', :target => '_blank' %></li>
          <li><%= link_to "Sguil", 'http://sguil.sourceforge.net/', :target => '_blank' %></li>
        </ul>


      </div>			


      <div id="copyright">
        Web Design by <a href='https://www.twitter.com/mephux'>Dustin Willis Webber</a>.
        <strong>Community Mantained.</strong>
        Snorby - All About Simplicity  ↔ <%= link_to 'https://www.snorby.org', 'https://www.snorby.org' %> &copy; 2009-<%= Time.now.year %> <a href='https://www.twitter.com/mephux'>Dustin Willis Webber.</a>.
      </div>

		</div>

		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-9749692-1");
				pageTracker._trackPageview(); 
			} catch(err) {}
		</script>
		
		<%= yield(:footer) %>
		
  </body> 
</html>
